
.login{
    text-align: center;
    background-image: url('../../images/d598225506e8003a5cdbc0c7e910750e.jpg');
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    
    background-size: cover;
    background-position: center;
}
.text{
    color: blue;
    font-size: xx-large;
    font-weight: 600;
}


.form-control .input-field{
    width: 500px;
    height: 50px;
    border-radius: 5px;
}
.check-field{
    width: 50px;
    height: 20px;
}
.form-control input{
    margin-top: 10px;
}
.sign-field{
    text-align: center;
    border: 1px solid gray;
    margin:50px 500px;
    padding: 40px;
    
    
}
.sign-buttons{
    background-color: orangered;
    width: 500px;
    height: 50px;
    color: ivory;
    margin: 20px;
    border-radius: 10px;
    
}
.google-buttons{
    border: 3px solid;
    width: 500px;
    height: 50px;
    border-radius: 20px;
    
}

@media(max-width:600px){
    
.form-control .input-field{
    width: 50px;
    height: 20px;
    border-radius: 5px;
}
.check-field{
    width: 50px;
    height: 20px;
}
.form-control input{
    margin-top: 10px;
}
.sign-field{
    text-align: center;
    
    padding: 10px;
    border: 1px solid white;
    
    
}
.sign-buttons{
    
    width: 150px;
    height: 30px;
    
    margin: 20px;
    border-radius: 10px;
    
}
.google-buttons{
    
    width: 150px;
    height: 30px;
    border-radius: 20px;
}

}
